.more_about_me{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    min-height: 60vh;

}

.more_about_me spline-viewer{
    /* background-color: red; */
    border-radius: 3rem;
    width: 400px;
    height: 390px;
}

.education .title{
    font-family: var(--comfortaa);
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    color: #ff0000;
    border-bottom: 3px solid #ff0000;
}

.education_experience{
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    margin-bottom: 1rem;
}

.education_experience .card{
    text-align: center;
    width: 19rem;
    padding: 2rem 5rem;
    border: 1px solid var(--black);
    border-radius: 2rem;
}

.education_experience .card span{
    font-size: 2.8rem;
}

.education_experience .card h1:nth-child(2){
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: var(--comfortaa);
}

.education_experience .card h1:nth-child(3),
.education_experience .card h1:nth-child(4){
    font-family: var(--mitr);
}


.education{
    display: flex;
    flex-direction: column;
    width: 60rem;
}


.education_experience .card h1 i {
    color: rgb(6, 154, 6);
}


.education_text h2{
    font-family: var(--cairo);
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

.education_text p{
    width: 100%;
    text-align: justify;
    font-family: var(--mitr);
}
