/* @import url(../var/colors.css);
@import url(../var/fonts.css); */
@import url(../sections_reponsive/welcome_section_repon.css);

.welcome_section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 0 2rem;
    min-height: 95vh;
    margin-bottom: 2rem;
    
}

.intro{
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.introduction{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.hel__about{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;
}

.introduction .hello{
    font-size: 3.5rem;
    font-family: var(--cairo);
    font-weight: bolder;

}

.introduction .about__me {
    font-family: var(--cairo);
    font-size: 1.2rem;
    width: 50%;
    /* background-color: aquamarine; */
    text-align: justify;
}

.introduction .photo{
    z-index: 1;
}

.introduction .photo_perfil{
    /* width: 250px; */
    height: 250px;
    /* border-radius: 100%; */
    /* background-color: red; */
    transition: all 0.4s ease-in-out;
    transform: scale(2.1) translateX(-2rem); 

}

.contact{
    display: flex;
    gap: 1rem;
    z-index: 2;
}


.contact .link {
    width: 40px;
    height: 20px;

}

.stacks{
    z-index: 2;
}

.list_of_stacks{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.list_of_stacks h1{
    text-align: center;
    font-size: 20px;
    font-family: var(--cairo);
    font-weight: bold;
    padding-right: 10px;
    border-right: 2px solid var(--black);
}

.list_of_stacks li img{
    height: 30px;
    user-select: none;
}

.CV{
    margin-bottom: 2rem;
    width: fit-content;
}

.CV a {
    padding: 12px;
    border-radius: 2rem;
    color: var(--black);
    text-decoration: none;
    user-select: none;
    border: 2px solid var(--black);
    font-family: var(--mitr);
    font-weight: bold;
    transition: 0.3s ease-out;
    z-index: 2;

}

.CV:hover a {
   background-color: var(--black);
   color: var(--white);
}