@media screen and (max-width:950px) {
    .more_about_me{
        gap: 0 !important;
        margin-bottom: 2rem;
    }
    
    .more_about_me spline-viewer{
        display: none;
    }
}


@media screen and (max-width:865px) {
    .introduction .photo_perfil{
        transform: scale(1.6) !important;
    }
}

@media screen  and (max-width:580px)  {
    .introduction{
        flex-direction: column !important;
        gap: 1rem;
    }

    .hel__about{
        margin-bottom: 1rem;
    }

    .introduction .about__me{
        width: 100% !important;
    }

    .introduction .photo_perfil{
        transform: scale(1.3) !important;
    }
}

@media screen and (max-width:360px) {
    .introduction .photo_perfil{
        transform: scale(1) !important; 
    }
}


