@import url(../var/colors.css);
@import url(../var/fonts.css);
@import url(../CSS/reset.css);
@import url(../CSS/sections/header.css);
@import url(/src/CSS/sections/welcome_section.css);
@import url(/src/CSS/sections/more_about_me.css);
@import url(/src/CSS/sections/projects_section.css);
@import url(/src/CSS/sections/certifications_section.css);
@import url(/src/CSS/sections/contact_section.css);
@import url(/src/CSS/sections/footer.css);


body{
    background-color: var(--white);
    /* fffaf0*/
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

:any-link{
    text-decoration: none;
}

