@import url(../var/colors.css);
@import url(../var/fonts.css);
@import url(../CSS/reset.css);
@import url(../CSS/sections/header.css);
@import url(../CSS/sections/welcome_section.css);
@import url(../CSS/sections/more_about_me.css);
@import url(../CSS/sections/projects_section.css);
@import url(../CSS/sections/certifications_section.css);
@import url(../CSS/sections/contact_section.css);
@import url(../CSS/sections/footer.css);

*{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    /* fffaf0*/
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

:any-link{
    text-decoration: none;
}

:target{
    scroll-margin-top: 2rem;
}

body::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-track{
    background: #242424;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.5s ease;
    
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 255, 255);
   
    
}

